.navbar {
  background-color: #252945;
}
/* 
.logo-img {
  padding: ;
  background-color: red;
} */

.logo {
  padding: 25%;
  background: rgb(193, 178, 255);
  background: rgb(193, 178, 255);
  background: linear-gradient(
    0deg,
    rgba(193, 178, 255, 1) 30%,
    rgba(124, 93, 250, 1) 62%
  );

  border-radius: 10px;
}
